* {
	font: "monospace 12";

	bg: #05080f;
	bg-alt: #111827;
	fg: #cce6ff;
	primary: #00f0ff;
	secondary: #ff4d00;
	alert: #374151;

	bg-glass: #05080fE6;

	background-color: transparent;
	text-color: @fg;
}

configuration {
	modes: "window,drun,run";
	show-icons: true;
	window-format: "{w} | {c} | {t}";
}	

window {
	background-color: @bg-glass;
}

mainbox {
	background-color: @bg-glass;
	children: [ inputbar, listview, mode-switcher ];
	spacing: 10px;
	padding: 10px;
	border: 2px;
}

prompt {
	text-color: @primary;
}

entry {
	text-color: @fg;
	padding: 0px 10px;
}

inputbar {
	background-color: @bg-alt;
	text-color: @fg;
}

button, textbox {
	background-color: @bg-alt;
	text-color: @fg;
	padding: 5px;
}

button selected {
	background-color: @primary;
	text-color: @bg;
}

listview {
	background-color: @bg-alt;
}

scrollbar {
	background-color: @bg-alt;
	handle-color: @primary;
}

element {
	padding: 5px;
	background-color: transparent;
	text-color: @fg;
}

element selected {
	background-color: @primary;
	text-color: @bg;
}

element-text, element-icon {
	background-color: inherit;
	text-color:	  inherit;
}

element normal.normal,
element alternate.normal {
	background-color: transparent;
	text-color: @fg;
}

element selected.normal,
element selected.alternate,
element selected.actice {
	background-color: @primary;
	text-color: @bg;
}
